.DS_Store
.vscode
node_modules/
yarn-error.log
*.hprof
.vercel
**/*.env
**/*.env.*
!**/*.env.example
.turbo
out/*
.vercel
app.config.ts
env.d.ts

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions