@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl lg:text-3xl font-bold;
  }
  h2 {
    @apply text-xl;
  }
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

.react-modal-sheet-container {
  background-color: #222 !important;
}
.react-modal-sheet-backdrop {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.react-modal-sheet-drag-indicator {
  background-color: #666 !important;
}
